In [16]:
import pandas as pd
data = pd.read_csv('C:/MSU/3kurs/6sem/statprak/Table.csv')
data['Project'] = data['Project'] * 4 #Делаем вес за проект более весомым (в 4 раза весомее обычного дз)
data['Pandas'] = data['Pandas'] * 2  #Баллы за дз Pandas также делаем выше, т.к. это было важное дз за которое было много вопросов на понимание
data = data.fillna(-1) #Пустым ячейкам присваиваем (-1) - люди которые ничего не делали будут отдельно от всех
results = data.iloc[:, 1:].sum(axis=1)
results = pd.concat([data['Student'], results], axis=1)
results = results.rename(columns={0: 'result'})

results

                          Student  result
0         Агаева Эмилия Назимовна    12.0
1         Бауман Артём Георгиевич    12.5
2             Вехов Иван Олегович    18.0
3         Егоров Кирилл Сергеевич   -18.0
4      Килимчук Иван Вячеславович    18.0
5         Кираев Булат Рустамович    20.0
6           Козлов Глеб Денисович    19.0
7        Корнийчук Павел Павлович    12.0
8    Мирошниченко Никита Игоревич    18.5
9       Родионова Мария Романовна    20.0
10        Садыков Артур Маратович    -4.0
11        Сёмин Михаил Максимович    15.5
12  Циберева Елизавета Кирилловна    19.5
13        Яранцев Егор Евгеньевич    10.0
14              Бакланов Владимир    -5.5
15              Виноградова Мария    13.0
16                   Гладков Иван    15.0
17            Горностаев Геннадий   -23.0
18                 Дручук Георгий    21.0
19                  Зайцев Даниил    18.0
20           Караваева Александра    18.0
21                 Малышев Максим    17.0
22                 Микляева Дарья    21.0
23                 Морозова Мария    23.0
24                   Русанов Эрик    13.5
25              Тарасюк Екатерина    19.5
26                   Тылык Даниил    16.5
27                 Шипицын Матвей    14.0
28                  Уваров Андрей    15.0

In [17]:
from sklearn.cluster import KMeans
kmeans = KMeans(n_clusters=3, random_state=0)
kmeans.fit(results['result'].values.reshape(-1, 1))
results['Cluster'] = kmeans.labels_
cluster_mapping = {0: 'автомат', 1: 'на зачёт', 2: 'пересдача'}
results['Cluster'] = results['Cluster'].replace(cluster_mapping)
results

                          Student  result    Cluster
0         Агаева Эмилия Назимовна    12.0    автомат
1         Бауман Артём Георгиевич    12.5    автомат
2             Вехов Иван Олегович    18.0    автомат
3         Егоров Кирилл Сергеевич   -18.0   на зачёт
4      Килимчук Иван Вячеславович    18.0    автомат
5         Кираев Булат Рустамович    20.0    автомат
6           Козлов Глеб Денисович    19.0    автомат
7        Корнийчук Павел Павлович    12.0    автомат
8    Мирошниченко Никита Игоревич    18.5    автомат
9       Родионова Мария Романовна    20.0    автомат
10        Садыков Артур Маратович    -4.0  пересдача
11        Сёмин Михаил Максимович    15.5    автомат
12  Циберева Елизавета Кирилловна    19.5    автомат
13        Яранцев Егор Евгеньевич    10.0    автомат
14              Бакланов Владимир    -5.5  пересдача
15              Виноградова Мария    13.0    автомат
16                   Гладков Иван    15.0    автомат
17            Горностаев Геннадий   -23.0   на зачёт
18                 Дручук Георгий    21.0    автомат
19                  Зайцев Даниил    18.0    автомат
20           Караваева Александра    18.0    автомат
21                 Малышев Максим    17.0    автомат
22                 Микляева Дарья    21.0    автомат
23                 Морозова Мария    23.0    автомат
24                   Русанов Эрик    13.5    автомат
25              Тарасюк Екатерина    19.5    автомат
26                   Тылык Даниил    16.5    автомат
27                 Шипицын Матвей    14.0    автомат
28                  Уваров Андрей    15.0    автомат

Думаю, учитывая доклад, дз по KNN и этот код можно автоматик мне поставить :)